html, body {
    min-width: 400px;
    overflow: scroll;
    width: 100%;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }


/*Font styling*/
p {
 font-size: 1.2em;
 line-height: 1.5em;
 margin-bottom: 1.5%;
}
a {
  text-decoration: none;
}


/*Header Nav*/
header {
  padding: 2% 1% 1%;
}
#logo {
  width: auto;
  float: left;
}
.topnav {
  overflow: hidden;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
.flex-container-nav {
  display: flex;
  flex-direction: row; 
  justify-content: space-evenly;
  float: right;
  width: 65%;
}
.flex-container-nav a {
  color: #555555;
  padding: 1%;
  margin: 1%;
  text-decoration: none;
  font-size: 17px;
}
.flex-container-nav a:hover {
  border-bottom: 1px solid #6041B4;
  color: #6041B4;
  font-weight: bold;
}
.flex-container-nav a.active {
  border-bottom: 2px solid #6041B4;
  font-weight: bold;
  color: #6041B4;
}
.topnav .icon {
  display: none;
}



/*Wrapper*/
#wrapper {
  display: flex;
  flex-direction: column;
  padding: 2%;
}


/*Hero*/
.flexContainer-hero {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto 7%;

}
.centered {
  justify-content: center;
  margin-left: auto;
  margin-right: auto; 
}
.perfectCenter {
  justify-content: center;
  align-items: center;
}
.center-text {
  text-align: center;
  margin-top: 2%;
}
img#heroimg2 {
  padding-top: 3%;
}
img#heroimg1, img#heroimg3 {
  padding-bottom: 3%;
}



/*Intro*/
.flexContainerText {
  display: flex;
  height: auto;
  width: 800px;
}
section#intro {
  width: 100%;
}
.flexItem-intro {
  width: 800px;
  height: auto;
}
.flexItem-buttons {
  display: flex;
  height: auto;
  width: 100%;
  margin-bottom: 7%;
  flex-wrap: wrap;
}
.justifySpace {
  justify-content:center;
  align-items: center;
}
button.button2up {
  margin: 2%;
  width: 250px;
  height: 70px;
  justify-items:center;
}

/*Case Study*/
.flexContainer-case {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  align-items: flex-start;
  flex-direction: row;
  margin: 0 auto 7%;
}
.flex-item-left, .flex-item-right {
  flex: 46%;
  text-align: center;
  padding: 0 2%;
}
hr.footer {
  width: 15%;
  color: #f7f7f7;
  height: 1px;
  margin-bottom: 2vh;
}
footer {
  padding-top: 1%;
  text-align: center;
  padding-bottom: 1%;
}


@media screen and (max-width: 949px) {
  #logo {
    padding: 2%;
    position:initial
  }
  .flex-container-nav {
    display: block;
    float: right;
    width: 19%;
    margin-top: 10%;
  }
  .topnav {
    padding: 0;
  }
  .topnav a.icon {
    float: right;
    display: block;
    border: none;
  }
  a.menu1, a.menu2, a.menu3, a.menu4  {
    display: none;
    padding-top: 2%
  }
  .flex-container-nav .icon {
    position: absolute;
    right: 0;
    top: 2%;
  }
  .topnav.responsive a {
    float: none;
    display: block;
  }
  .flexContainer-case, .flexContainer-hero {
    display: flex;
    margin: 0 auto 7%;
    justify-content: center;
  }
  img#heroimg2 {
    padding-top: 0%;
  }
  img#heroimg1, img#heroimg3 {
    padding-bottom: 0%;
  }
  .flexContainer-case {
    width: auto;
  }
  .flex-item-right, .flex-item-left {
    flex: 100%;
    padding: 2%;
  }

}
@media screen and (max-width: 600px) {
  .flex-container-nav {
    display: block;
    float: right;
    width: 30%;
  }
  .flexContainer-case, .flexContainer-hero {
    width: auto;
  }
  .flex-item-right, .flex-item-left {
    flex: 100%;
    padding: 2%
  }
}