header{
    width: 100%;
    display: flex;
}
nav {
    display: flex;
    padding: 1.5%;
    border: 1px solid red;
}
.logo, nav {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.logo img {
    max-width: 23%;
    padding: 1%;
    border: 1px solid lightblue;
    display: inline-block;
    max-height: 70px;
}